/* .teaching_container {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} */

img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    img {
        width: 100%;
        height: calc(90vh - 80px);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}

.teaching {
    max-width: 1440px;
    margin: 0 auto;
}